.organ-header {
  background-color: color($colors,dark);
  // padding: 16px;
  width: 100%;
  padding-bottom: 15px;
  // min-height: 120px;

 .organ-header-icon {
    text-align: center;

    img {
      max-width: 10em;
      min-height: 115px;
    }
  }

  .organ-summary {
    position: relative;
    color: #fff;

    h1 {
      display: inline-block;
      line-height: 50px;
      padding: 0;
      // margin: 34px 0;
    }

    .timeline {
      height: 88px;
      .day {
        text-align: center;

        img {
          padding-top: 10px;
        }

        div {
          text-align: center;
          position: absolute;
          bottom: 0;
        }
      }

      .today {
        font-size: 0.8em;
        font-weight: bold;
        padding-top: 17px;
        
        img{
          height: 50px;
          opacity: 0.8;
        }
      }
      
      .days1 {
        padding-top: 17px;
        img{
          height: 44px;
          opacity: 0.6;
        }
      }

      .days2 {
        font-size: 0.65em;
        padding-top: 10px;
        img{
          height: 32px;
          opacity: 0.3;
        }
      }
    }
  }
}

.organ-treatments,
.organ-advices {
  ion-note{
    color: color($colors, dark) !important;
  }
}
.organ-card {
  background: #ddd;

  h2 {
    font-weight: bold;
  }
}

.danger {
  color: color($colors, danger) !important;
}

.warning {
  color: color($colors, warning) !important;
}

ion-card-content {
  padding: 8px 15px !important;
}

.organ-questions {
  background: color($colors,primary);

  .card-title, p {
    color: color($colors,light);
  }
}

.organ-info p {
  color: #697072;
  text-align: left;
}

.organ-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.organ-title {
  text-align: center;
}

.organ-person {
  position: absolute;
  bottom: 0;
}

.md,
.wp {
  .organ-info [text-right] {
    margin-right: 0;
  }
}

.ios .organ-info {
  text-align: center;
}

.ios .organ-info ion-icon {
  width: auto;
  margin-right: 10px;
}
