.organ-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.organ-header-img {
  max-width: 200px;
  min-height: 115px;
  padding: 25px 0 20px 0;
}

.organ-info p {
  color: #697072;
  text-align: left;
}

.organ-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.organ-title {
  text-align: center;
}

.organ-person {
  position: absolute;
  bottom: 0;
}

.md,
.wp {
  .organ-info [text-right] {
    margin-right: 0;
  }
}

.ios .organ-info {
  text-align: center;
}

.ios .organ-info ion-icon {
  width: auto;
  margin-right: 10px;
}
