<ion-header>
    <ion-navbar>
        <ion-title><img class="logo" src="assets/img/umcu-logo-icon-white.png"/></ion-title>
    </ion-navbar>
</ion-header>
x
<ion-content>
    <ion-grid no-padding>
        <ion-row class="organ-header">
            <!-- <ion-col class="organ-header-icon" col-12 col-sm col-sm-3>
                <img src="../assets/img/status/{{organ.name}}_{{evaluateOrganColor(organ.status, organ.boundaries.lower, organ.boundaries.upper)}}.svg"/>
            </ion-col> -->
            <ion-col class="organ-summary" col-12 col-sm>
                <h1>{{organ.alias}}</h1>
                <div class="timeline">
                    <div class="day days2">
                            <img src="../assets/img/status/{{organ.name}}_grey.svg"/>
                            <span>Eergisteren</span>
                    </div>
                    <div class="day days1">
                            <img src="../assets/img/status/{{organ.name}}_red.svg"/>
                            <span>Gisteren</span>
                    </div>
                    <div class="day today">
                            <img src="../assets/img/status/{{organ.name}}_{{evaluateOrganColor(organ.status, organ.boundaries.lower, organ.boundaries.upper)}}.svg"/>
                            <span>Vandaag</span>
                    </div>
                    <div class="day days1">
                            <img src="../assets/img/status/{{organ.name}}_{{evaluateOrganColor(organ.status, organ.boundaries.lower, organ.boundaries.upper)}}.svg"/>
                            <span>Morgen</span>
                    </div>
                    <div class="day days2">
                            <img src="../assets/img/status/{{organ.name}}_green.svg"/>
                            <span>Overmorgen</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 col-sm>
                <ion-card *ngIf="organ.id" class="organ-questions">
                    <ion-card-content>
                        <h2 class="card-title">Vragen</h2>
                        <p>Tralalala...</p>
                    </ion-card-content>
                    <ion-list>

                    <ion-item>
                        <ion-icon item-left name="moon"></ion-icon>
                        <h3>Bedroomasdfasds</h3>
                        <ion-note item-right>awds</ion-note>
                    </ion-item>
                        <!-- <button ion-item (click)="openBrokerDetail(property.broker)">
                            <ion-avatar item-left>
                                <img src="{{property.broker.picture}}"/>
                            </ion-avatar>
                            <h2>{{property.broker.name}}</h2>
                            <p>{{property.broker.title}}</p>
                        </button> -->
                    </ion-list>

                    <!-- <ion-item>
                        <button ion-button icon-left (click)="favorite(property)" clear item-left>
                            <ion-icon name="star"></ion-icon>
                            Favorite
                        </button>
                        <button ion-button icon-left (click)="share(property)" clear item-right>
                            <ion-icon name="share"></ion-icon>
                            Share
                        </button>
                    </ion-item> -->

                </ion-card>
            </ion-col>
            <ion-col col-12 col-sm>
                <ion-card *ngIf="organ.id">
                    <ion-card-content>
                        <h2 class="card-title">{{organ.name}}</h2>
                        <p>{{organ.status}}</p>
                    </ion-card-content>
                    <ion-list>

                    <ion-item>
                        <ion-icon item-left name="moon"></ion-icon>
                        <h3>Bedrooms</h3>
                        <ion-note item-right>awds</ion-note>
                    </ion-item>
                        <!-- <button ion-item (click)="openBrokerDetail(property.broker)">
                            <ion-avatar item-left>
                                <img src="{{property.broker.picture}}"/>
                            </ion-avatar>
                            <h2>{{property.broker.name}}</h2>
                            <p>{{property.broker.title}}</p>
                        </button> -->
                    </ion-list>

                    <!-- <ion-item>
                        <button ion-button icon-left (click)="favorite(property)" clear item-left>
                            <ion-icon name="star"></ion-icon>
                            Favorite
                        </button>
                        <button ion-button icon-left (click)="share(property)" clear item-right>
                            <ion-icon name="share"></ion-icon>
                            Share
                        </button>
                    </ion-item> -->

                </ion-card>
        
            </ion-col>
        </ion-row>        
    </ion-grid>
</ion-content>
