.organ-header {
  background-color: color($colors,dark);
  padding: 16px;
  width: 100%;
  min-height: 120px;

 .organ-header-icon {
    text-align: center;

    img {
      max-width: 10em;
      min-height: 115px;
    }
  }

  .organ-summary {
    position: relative;
    color: #fff;

    h1 {
      display: inline-block;
      line-height: 50px;
      padding: 0;
      // margin: 34px 0;
    }

    .timeline {
      position: absolute;
      right: 0;
      display: inline-block;
      padding: 0 30px;
      
      .day {
        display: inline-block;
        max-width: 90px;
        text-align: center;

        img {
          display: inline-block;
        }
      }

      .today {
        font-weight: bold;
        img{
          height: 5rem;
        }
      }
      
      .days1 {
        img{
          height: 4rem;
        }
      }

      .days2 {
        img{
          height: 2.8rem;
        }
      }
    }
  }
}

.organ-card {
  background: #ddd;

  h2 {
    font-weight: bold;
  }
}

.organ-questions {
  background: color($colors,primary);

  .card-title, p {
    color: color($colors,light);
  }
}

.organ-info p {
  color: #697072;
  text-align: left;
}

.organ-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.organ-title {
  text-align: center;
}

.organ-person {
  position: absolute;
  bottom: 0;
}

.md,
.wp {
  .organ-info [text-right] {
    margin-right: 0;
  }
}

.ios .organ-info {
  text-align: center;
}

.ios .organ-info ion-icon {
  width: auto;
  margin-right: 10px;
}
