<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><img class="logo" src="assets/img/umcu-logo-icon-white.png"/></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <div class="status-overlay" padding [hidden]="overlayHidden">
        <p>Verwachte ontslagdatum:</p>
        <h3>25 april 2018</h3>
        <button ion-button large>Verwachte ontslagdatum:<br />25 april 2018</button>
        <p>test</p>
        <button full (click)="hideOverlay()">Click me</button>
    </div> -->
    <!-- <ion-item *ngFor="let d of diseases; let i=index" 
        text-wrap (click)="toggleGroup(i)" 
        [ngClass]="{active: isGroupShown(i)}">
        
        <div class="button">
            <h3>Verwachte ontslagdatum: </h3>
            <h3>Over 5 dagen</h3>
        </div>
        <ion-icon color="success" 
            item-right [name]="isGroupShown(i) ? '' : ''">
        </ion-icon>
        <div *ngIf="isGroupShown(i)">
                <ul>
                    <h4>Risicofactoren:</h4>
                    <li style="color:#EC1C24"><small>Hartritmestoornis</small></li>
                    <li style="color:#EC1C24"><small>Verhoogde kans op longontsteking</small></li>
                    <li style="color:#F6921E"><small>Lage bloeddruk</small></li>
                </ul>
        </div>
    </ion-item> -->

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm>
                <div class="resignationDate">
                    Verwachte ontslagdatum:
                    <strong>1 mei 2018 <span class="danger">(verlengd)</span></strong>
                </div>
            </ion-col>
        </ion-row>        
        <ion-row>
            <ion-col col-12 col-sm>
                <div class="status-body-box">
                    <img src="../assets/img/status/body.svg">
                    <div *ngFor="let organ of organs" class="status-bodyparts-{{organ.name}} zoom"><img (click)="openOrganPage(organ)" src="../assets/img/status/{{organ.name}}_{{evaluateOrganColor(organ.status, organ.boundaries.lower, organ.boundaries.upper)}}.svg" alt="{{organ.alias}}"></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
