.status-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.status-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

// .card-team {
//   margin-top: 100px;
// }

.status-info p {
  color: #697072;
  text-align: left;
}

.status-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.status-title {
  text-align: center;
}

ion-col {
  max-height: 100%;
  overflow: hidden;
}

.status-box-wrapper {
  max-height: 90vh;
  overflow: hidden;

  h5 {
    text-align: center;
  }
}

.zoom:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.status-body-box {
  position: relative;
  left: 12%;
  width: 76%;
  margin: 0px;
  padding: 0px; 
}

.status-bodyparts-brain {
  position: absolute;
  left: 41%;
  top: 1.5%;
  width: 18%
}

.status-bodyparts-lungs {
  position: absolute;
  left: 33.5%;
  top: 15%;
  width: 33%;
}

.status-bodyparts-heart {
  position: absolute;
  left: 43%;
  top: 26%;
  width: 13%
}

.status-bodyparts-liver {
  position: absolute;
  left: 36%;
  top: 34%;
  width: 20%
}

.status-bodyparts-pancreas {
  position: absolute;
  left: 48%;
  top: 37%;
  width: 16%
}

.status-bodyparts-kidney_r {
  position: absolute;
  left: 35%;
  top: 41%;
  width: 8%
}

.status-bodyparts-kidney_l {
  position: absolute;
  left: 57%;
  top: 41%;
  width: 8%
}

.status-bodyparts-gastrointestinal {
  position: absolute;
  left: 37%;
  top: 47%;
  width: 24%
}

.md,
.wp {
  .status-info [text-right] {
    margin-right: 0;
  }
}

.ios .status-info {
  text-align: center;
}

.ios .status-info ion-icon {
  width: auto;
  margin-right: 10px;
}
