.status-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 20;
  top: 40px;
  left: 0;
  padding: 10px;
  text-align: center;
}

.status-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.status-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.status-card {
  background: #ddd;

  h2 {
    font-weight: bold;
  }
}

.status-medical {
  background: color($colors, dark);

  .card-title, p {
    color: color($colors,light);
  }
}

.resignationDate {
  background: color($colors, dark);
  color: color($colors, light);
  border-radius: 5px;
  padding: 12px;
  text-align: center;

  strong {
    display: block;
  }
}

.danger {
  color: color($colors, danger) !important;
}

// .card-team {
//   margin-top: 100px;
// }

.status-info p {
  color: #697072;
  text-align: left;
}

.status-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.status-title {
  text-align: center;
}

ion-col {
  max-height: 100%;
  overflow: hidden;
}

.status-box-wrapper {
  max-height: 90vh;
  overflow: hidden;

  h5 {
    text-align: center;
  }
}

.zoom:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.status-body-box {
  position: relative;
  // left: 15%;
  // width: 70%;
  margin: 0px;
  // padding-bottom: 12%; 
}

.status-bodyparts-brain {
  position: absolute;
  left: 41%;
  top: 1.5%;
  width: 18%
}

.status-bodyparts-lungs {
  position: absolute;
  left: 33.5%;
  top: 15%;
  width: 33%;
}

.status-bodyparts-heart {
  position: absolute;
  left: 43%;
  top: 26%;
  width: 13%
}

.status-bodyparts-liver {
  position: absolute;
  left: 36%;
  top: 34%;
  width: 20%
}

.status-bodyparts-pancreas {
  position: absolute;
  left: 48%;
  top: 37%;
  width: 16%
}

.status-bodyparts-kidney_r {
  position: absolute;
  left: 35%;
  top: 41%;
  width: 8%
}

.status-bodyparts-kidney_l {
  position: absolute;
  left: 57%;
  top: 41%;
  width: 8%
}

.status-bodyparts-gastrointestinal {
  position: absolute;
  left: 36%;
  top: 44%;
  width: 24%
}

.md,
.wp {
  .status-info [text-right] {
    margin-right: 0;
  }
}

.ios .status-info {
  text-align: center;
}

.ios .status-info ion-icon {
  width: auto;
  margin-right: 10px;
}

// .toptext{
//   text-align: center;
//   font-weight: bold;
// }

// .organimage{
//   text-align: center;
//   height: 70%;
// }

// .button:hover {
//   background-color: rgb(83, 83, 83);
//   color: white;
// }
// .button {
//   border-radius: 4px;
//   background-color: rgb(207, 207, 207);
//   border: none;
//   color: rgb(0, 0, 0);
//   text-align: center;
//   font-size: 1em;
//   font-weight: bold;
//   padding: 20px;
//   width: 95%;
//   transition: all 0.5s;
//   cursor: pointer;
//   margin: 5px;
// }
// .footer {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   background-color: red;
//   color: white;
//   text-align: center;
// }
