<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Status</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
<!--
    <div class="status-header">
        <img src="assets/img/umcu-logo.png">
    </div>
-->
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm>
                <ion-item-sliding *ngFor="let organ of organs">
                    <button ion-item (click)="openOrganPage(organ)">
                        <h2>{{organ.name}}</h2>
                        <p>{{organ.status}}</p>
                    </button>
                </ion-item-sliding>
            </ion-col>
            <ion-col col-12 col-sm>
                <div class="status-box-wrapper">
                    <div class="status-body-box">
                        <img src="../assets/img/status/body.svg">
                        <div *ngFor="let organ of organs" class="status-bodyparts-{{organ.name}}"><img (click)="openOrganPage(organ)" src="../assets/img/status/{{organ.name}}.svg" alt="{{organ.alias}}"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
